NodeRed/googleclient.json
[{"id":"9158ac14.b864f","type":"tab","label":"HTTP Client","disabled":false,"info":""},{"id":"4993d7b2.058b38","type":"http request","z":"9158ac14.b864f","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://www.google.com","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":220,"wires":[["2a3e6c99.958dd4"]]},{"id":"48f2675b.1d3d58","type":"inject","z":"9158ac14.b864f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["4993d7b2.058b38"]]},{"id":"78ec5d75.70f614","type":"debug","z":"9158ac14.b864f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":320,"wires":[]},{"id":"2a3e6c99.958dd4","type":"html","z":"9158ac14.b864f","name":"","property":"payload","outproperty":"payload","tag":"title","ret":"html","as":"single","x":300,"y":320,"wires":[["78ec5d75.70f614"]]}]