NodeRed/httphello.json
[{"id":"43090ce1.292ee4","type":"tab","label":"HTTP Hello","disabled":false,"info":""},{"id":"3a1a4cf0.43d254","type":"http in","z":"43090ce1.292ee4","name":"","url":"/say_hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["3711c488.89530c"]]},{"id":"233ea3a1.3fc60c","type":"debug","z":"43090ce1.292ee4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"555249f.43932b8","type":"http response","z":"43090ce1.292ee4","name":"","statusCode":"200","headers":{},"x":460,"y":100,"wires":[]},{"id":"3711c488.89530c","type":"template","z":"43090ce1.292ee4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":300,"y":240,"wires":[["555249f.43932b8","233ea3a1.3fc60c"]]}]