NodeRed/split.json
[{"id":"ebcd077b.8d0298","type":"tab","label":"Split","disabled":false,"info":""},{"id":"c5e0b9a.45f4d48","type":"inject","z":"ebcd077b.8d0298","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":200,"wires":[["a2244007.27ac5"]]},{"id":"a2244007.27ac5","type":"function","z":"ebcd077b.8d0298","name":"","func":"newmsg = { topic: \"new\", msg:\"smile\", payload:\"a lot\"}\nreturn newmsg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":430,"y":220,"wires":[["6a9621f8.f1a51","ff62ff42.d22a2"],[]]},{"id":"6a9621f8.f1a51","type":"debug","z":"ebcd077b.8d0298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"ff62ff42.d22a2","type":"debug","z":"ebcd077b.8d0298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]}]