NodeRed/split2.json
[{"id":"feaa61c.4eff0a","type":"tab","label":"Split2","disabled":false,"info":""},{"id":"fb8d8aec.2f5df8","type":"inject","z":"feaa61c.4eff0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":370,"y":280,"wires":[["ecb99831.d0e3f8"]]},{"id":"3a7d8e5b.58b0b2","type":"debug","z":"feaa61c.4eff0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"b79314c2.f74068","type":"debug","z":"feaa61c.4eff0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"ecb99831.d0e3f8","type":"function","z":"feaa61c.4eff0a","name":"","func":"newmsg = {payload:\"Bye Bye\"}\nreturn [newmsg, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["3a7d8e5b.58b0b2"],["b79314c2.f74068"]]}]