NodeRed/spotifyservice.json
[{"id":"ce96ec27.4e7db","type":"spotify","z":"ec99be44.f6173","name":"Spoify","auth":"6ae22e5f.ad5c1","api":"getMyCurrentPlayingTrack","x":310,"y":220,"wires":[["d8a7e3e2.85c2d","5668be68.880c1","803b40d7.6780c","fd3d2f0.a748fd"]]},{"id":"d8a7e3e2.85c2d","type":"debug","z":"ec99be44.f6173","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":94,"wires":[]},{"id":"bd205505.75ee78","type":"function","z":"ec99be44.f6173","name":"Send User ID","func":"// API function: get user information\nmsg.params = [\n    '9f7bf43f81be43748e7605f6ecd981bd', /* Client ID */\n    { limit: 10 } /* Options */\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":161,"y":220,"wires":[["ce96ec27.4e7db"]]},{"id":"5668be68.880c1","type":"debug","z":"ec99be44.f6173","name":"album","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.item.album.name","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":134,"wires":[]},{"id":"803b40d7.6780c","type":"debug","z":"ec99be44.f6173","name":"artist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.item.artists[0].name","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":174,"wires":[]},{"id":"4e9d932a.49e6bc","type":"http in","z":"ec99be44.f6173","name":"Spotify End Point","url":"/track","method":"get","upload":false,"swaggerDoc":"","x":161,"y":116,"wires":[["bd205505.75ee78"]]},{"id":"3e17413d.0e921e","type":"template","z":"ec99be44.f6173","name":"Make HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <i> {{payload.album}}</i>\n    <p>{{payload.artist}}</p>\n</html>\n  \n ","output":"str","x":490,"y":280,"wires":[["ababf19a.e681b"]]},{"id":"ababf19a.e681b","type":"debug","z":"ec99be44.f6173","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"a3639c0.e3e4968","type":"inject","z":"ec99be44.f6173","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":161,"y":160,"wires":[["bd205505.75ee78"]]},{"id":"fd3d2f0.a748fd","type":"function","z":"ec99be44.f6173","name":"Make {Album, Artist}","func":"msg.payload = {\"album\":msg.payload.item.album.name, \"artist\":msg.payload.item.artists[0].name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["3e17413d.0e921e","1a197d6.2c4b283"]]},{"id":"1a197d6.2c4b283","type":"template","z":"ec99be44.f6173","name":"Make JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"album\":\"{{payload.album}}\",\n  \"artist\":\"{{payload.artist}}\"\n}\n  \n ","output":"str","x":490,"y":320,"wires":[["ababf19a.e681b","acaa126b.9dfb7"]]},{"id":"acaa126b.9dfb7","type":"http response","z":"ec99be44.f6173","name":"HTTP Response","statusCode":"200","headers":{},"x":800,"y":320,"wires":[]},{"id":"6ae22e5f.ad5c1","type":"spotify-auth","name":"Spotify OAuth2 User Permissions","scope":"user-read-recently-played user-read-currently-playing user-read-playback-state user-read-playback-position user-top-read user-library-read "}]