NodeRed/spotify.json
[{"id":"eb749eea.ab169","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ae851611.dcf088","type":"spotify","z":"eb749eea.ab169","name":"Spoify","auth":"6ae22e5f.ad5c1","api":"getMyCurrentPlayingTrack","x":320,"y":120,"wires":[["db8c0e04.a723f","4f9162e7.6e8d7c","df5a06d5.d9f4e8"]]},{"id":"a3e99be1.16fa78","type":"inject","z":"eb749eea.ab169","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["ef2fd859.dd2878"]]},{"id":"db8c0e04.a723f","type":"debug","z":"eb749eea.ab169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"ef2fd859.dd2878","type":"function","z":"eb749eea.ab169","name":"","func":"// API function: get user information\nmsg.params = [\n    '9f7bf43f81be43748e7605f6ecd981bd', /* Client ID */\n    { limit: 10 } /* Options */\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":260,"wires":[["ae851611.dcf088"]]},{"id":"4f9162e7.6e8d7c","type":"debug","z":"eb749eea.ab169","name":"album","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.item.album.name","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":220,"wires":[]},{"id":"df5a06d5.d9f4e8","type":"debug","z":"eb749eea.ab169","name":"artist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.item.artists[0].name","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":320,"wires":[]},{"id":"6ae22e5f.ad5c1","type":"spotify-auth","name":"Spotify OAuth2 User Permissions","scope":"user-read-recently-played user-read-currently-playing user-read-playback-state user-read-playback-position user-top-read user-library-read "}]